@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf');
}

@font-face {
    font-family: 'SymbolsRounded';
    src: url('/fonts/SymbolsRounded.ttf');
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    position: fixed;
    min-height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    --font-size: 16px;
    --font-family: Montserrat, Helvetica, sans-serif;
    --bgc: hsl(0, 0%, 100%);
    --fgc: hsl(0, 0%, 0%);
    --bdc: hsl(0, 0%, 70%);
    --btn-bgc: hsl(210, 100%, 50%);
    --btn-fgc: hsl(0, 0%, 100%);
    --btn-hlc: hsl(210, 100%, 60%);
    --btn-disc: hsl(0, 0%, 80%);
    --mnu-bgc: hsl(0, 0%, 90%);
    --mnu-fgc: hsl(0, 0%, 0%);
    --mnu-hlc: hsl(218, 92%, 70%);
    --mnu-hsc: hsl(0, 0%, 60%);
    --shadow: 0 6px 18px hsla(0, 0%, 0%, .2);

    font-size: var(--font-size);
    font-family: var(--font-family);
    background-color: var(--bgc);
    color: var(--fgc);

    --app-bgc: hsl(0, 0%, 97%);

}

pc-menu {
    display: none;
}